{% include "navbar.html" %}

<h1 class="center-align">Quizzes</h1>
    {% if quizzes.image %}
    <p>
    {% load static %}
        <img src="/static/{{ quizzes.image.url }}" alt="Quizzes '{{ quizzes.title }}' image" width="250" height="250">
    <p/>
    {% endif %}
<div class="center-align">
    {% if user.is_authenticated %}
        {% if quizzes.photo %}
        <p>
            {% load static %}
            <img src="/static/{{ quizzes.photo.url }}" alt="quizzes ''{{ quizzes.title }}'' image" width="250" height="250">
        <p/>
        {% endif %}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="waves-effect waves-light btn" type="submit">
                <i class="material-icons left ">save</i> Save
            </button>
        </form>
    {% endif %}
</div>
{% include "end.html" %}