{% include "navbar.html" %}
{#{{ '{' }}{{ '{' }} mytag {{ '}' }}{{ '}' }}#}
<h1 class="center-align">Quizzes Django</h1>
<div class="center-align">
    {% if user.is_authenticated %}
    <h2>
        Start page for {{ user.username }} user
    </h2>
    {% else %}
    <p>
        Please Log In For Manipulating Quizzes
    </p>
    {% endif %}
    {% if object_list %}
        <h3>Quizzes List</h3>
        {% for quizzes in object_list %}
            <p>
                <a href="{% url 'view_quizzes' quizzes.id %}" class="waves-effect waves-light">
                    <b> {{ quizzes.title }} </b>  by {{ quizzes.q_person.username }} (<i>{{ quizzes.publ_d_time }}</i>)
                </a>
            </p>
        {% endfor %}
    {% endif %}
    {% if page_obj.paginator.num_pages > 1 %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a class="btn" href="?page=1">&laquo; first</a>
                    <a class="btn" href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a class="btn" href="?page={{ page_obj.next_page_number }}">next</a>
                    <a class="btn" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>
{% include "end.html" %}
