{% include "start.html" %} {% load socialaccount %}

<h1 class="center-align">Quizzess Django</h1>
<div class="center-align">
    {% if user.is_authenticated %}
    <p>Welcome {{ user.username }} !!!</p>
    <p>
        <a href="{% url 'account_logout' %}" class="waves-effect waves-light btn">
            <i class="material-icons left ">error_outline</i> Log Out
        </a>
    </p>
    {% else %}
    <p>
        <a href="{% url 'account_login' %}" class="waves-effect waves-light btn">
            <i class="material-icons left ">check</i> Log In
        </a>
        <a href="{% url 'account_signup' %}" class="waves-effect waves-light btn">
            <i class="material-icons left">check_circle</i> Sign Up
        </a>
    </p>
    <a href="{% provider_login_url 'github' %}" title="Sign Up by github">
        <img src="https://image.flaticon.com/icons/svg/25/25231.svg" alt="Sign Up by github" height="48" width="48">
    </a>
    {% endif %}
</div>