{% include "navbar.html" %}

<h1 class="center-align">Quizzess Django</h1>
<div class="center-align">
    {% if user.is_authenticated %}
{#    <h1>#}
{#        Hi {{ user.username }} !!!#}
{#    </h1>#}
{#    <p>#}
{#        <a href="{% url 'add_quizzes' %}" class="waves-effect waves-light btn">#}
{#            <i class="material-icons left ">add_alarm</i>Add Quizzes#}
{#        </a>#}
{#    </p>#}
        {% if quizzes_list %}
            <h3>Owned quizzes list</h3>
            {% for quizzes in quizzes_list %}
                <p>
                    <a href="{% url 'view_quizzes' quizzes.id %}" class="waves-effect waves-light">
                        <b> {{ quizzes.title }} </b> (<i>{{ quizzes.publ_d_time }} UTC</i>)
                    </a>
                </p>
            {% endfor %}
        {% endif %}
    {% else %}
    <p>
        Please Log In
    </p>
    {% endif %}
</div>
{% include "end.html" %}