{% include "start.html" %}
{% load socialaccount %}
{% load static %}
<script src="{% static 'js/nav.js' %}"></script>
<header>
    <nav>
        <div class="nav-wrapper">
            <a href="{% url 'home' %}" class="brand-logo"><i class="material-icons left ">dvr</i>Quizzes</a>
            <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                {% if messages %}
                     {% for message in messages %}
                     <script>
                         document.addEventListener(
                             'DOMContentLoaded', function() {
                                 M.toast({html: '<i class="material-icons left ">mode_comment</i> {{ message }}'});
                         });
                     </script>
                     {% endfor %}
                {% endif %}
    {#<!--            {% if messages %}-->#}
    {#<!--                {% load static %}-->#}
    {#<!--                <script src="{% static 'js/messages.js' %}"></script>-->#}
    {#<!--                <div id="modal1" class="modal">-->#}
    {#<!--                    <div class="modal-content">-->#}
    {#<!--                        <ul class="messages">-->#}
    {#<!--                        {% for message in messages %}-->#}
    {#<!--                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>-->#}
    {#<!--                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}-->#}
    {#<!--                            {{ message }}-->#}
    {#<!--                        </li>-->#}
    {#<!--                        {% endfor %}-->#}
    {#<!--                        </ul>-->#}
    {#<!--                    </div>-->#}
    {#<!--                </div>-->#}
    {#<!--            {% endif %}-->#}
            <ul class="right hide-on-med-and-down">
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'add_quizzes' %}" class="waves-effect waves-light">
                            <i class="material-icons left ">add_alarm</i>Add Quizzes
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'show_user' user.username %}" class="waves-effect waves-light">
                            <i class="material-icons left ">account_box</i> Profile {{ user.username }}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'account_logout' %}" class="waves-effect waves-light">
                            <i class="material-icons left ">error_outline</i> Log Out
                        </a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'account_login' %}" class="waves-effect waves-light">
                            <i class="material-icons left ">check</i> Log In
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'account_signup' %}" class="waves-effect waves-light">
                            <i class="material-icons left">check_circle</i> Sign Up
                        </a>
                    </li>
                    <li>
                        <a href="{% provider_login_url 'github' %}" class="waves-effect waves-light" title="Sign Up by github">
                            <img src="https://image.flaticon.com/icons/svg/25/25231.svg" alt="Sign Up by github" height="32" width="32"></img>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
<ul class="sidenav" id="mobile-nav">
    {% if user.is_authenticated %}
        <li>
            <a href="{% url 'add_quizzes' %}" class="waves-effect waves-light">
                <i class="material-icons left ">add_alarm</i>Add Quizzes
            </a>
        </li>
        <li>
            <a href="{% url 'show_user' user.username %}" class="waves-effect waves-light">
                <i class="material-icons left ">account_box</i> Profile {{ user.username }}
            </a>
        </li>
        <li>
            <a href="{% url 'account_logout' %}" class="waves-effect waves-light">
                <i class="material-icons left ">error_outline</i> Log Out
            </a>
        </li>
    {% else %}
        <li>
            <a href="{% url 'account_login' %}" class="waves-effect waves-light">
                <i class="material-icons left ">check</i> Log In
            </a>
        </li>
        <li>
            <a href="{% url 'account_signup' %}" class="waves-effect waves-light">
                <i class="material-icons left">check_circle</i> Sign Up
            </a>
        </li>
        <li>
            <a href="{% provider_login_url 'github' %}" class="waves-effect waves-light" title="Sign Up by github">
                <img src="https://image.flaticon.com/icons/svg/25/25231.svg" alt="Sign Up by github" height="32" width="32"></img>
            </a>
        </li>
    {% endif %}
</ul>