{% include "start.html" %}
{% load socialaccount %}
{% load static %}
{% load i18n %}
{#<script src="{% static 'js/nav.js' %}"></script>#}
<header>
    <nav
             role="navigation"
             class="navbar navbar-static-top navbar-default"
    >
        <div
                class="container navbar-header"
{#                class="nav-wrapper menu align-right"#}
        >
            <ul class="
            nav navbar-nav
            right hide-on-med-and-down
">
            <div class="navbar-header">
                <a href="{% url 'home' %}"
{#               class="brand-logo"#}
               class="
               navbar-brand
               logo
">
                <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
{#                <i class="material-icons left ">dvr</i>#}
                {% trans "Quizzes" %}
            </a>
            </div>
            <a href="#" data-target="mobile-nav"
{#               class="sidenav-trigger"#}
            >
{#                <i class="material-icons">menu</i>#}
            </a>
                {% if messages %}
                     {% for message in messages %}
                     <script>
                         document.addEventListener(
                             'DOMContentLoaded', function() {
                                 M.toast({html: '<i class="material-icons left ">mode_comment</i> {{ message }}'});
                         });
                     </script>
                     {% endfor %}
                {% endif %}
    {#<!--            {% if messages %}-->#}
    {#<!--                {% load static %}-->#}
    {#<!--                <script src="{% static 'js/messages.js' %}"></script>-->#}
    {#<!--                <div id="modal1" class="modal">-->#}
    {#<!--                    <div class="modal-content">-->#}
    {#<!--                        <ul class="messages">-->#}
    {#<!--                        {% for message in messages %}-->#}
    {#<!--                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>-->#}
    {#<!--                            {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}-->#}
    {#<!--                            {{ message }}-->#}
    {#<!--                        </li>-->#}
    {#<!--                        {% endfor %}-->#}
    {#<!--                        </ul>-->#}
    {#<!--                    </div>-->#}
    {#<!--                </div>-->#}
    {#<!--            {% endif %}-->#}

                {% get_available_languages as LANGUAGES %}

                {# We display language picker only if there're languages to pick from #}
                {% if LANGUAGES|length > 1 %}
                  {% get_current_language as LANGUAGE_CODE %}
                  <li>
                    <div
                            class="language-picker dropdown show"
                    >
                      <a
                              class="dropdown-toggle dropdown-link"
                              id="language-picker-button"
                      >
                        {{ LANGUAGE_CODE|language_name_local }}
                      </a>
                      {% include "_language_picker.html" %}
                    </div>
                  </li>
                {% endif %}

                {% if user.is_superuser %}
                    <li>
                        <a href="/admin"
                        >
                <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
                            {% trans "Admin Site" %}
                        </a>
                    </li>
                {% endif %}
               {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'add_quizzes' %}"
{#                           class="waves-effect waves-light"#}
                        >
{#                            <i class="material-icons left ">add_alarm</i>#}
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                            Add Quizzes
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'show_user' user.username %}"
{#                           class="waves-effect waves-light"#}
                        >
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
{#                            <i class="material-icons left ">account_box</i> #}
                            {% trans "Profile" %} {{ user.username }}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'account_logout' %}"
                           class="waves-effect waves-light"
                        >
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
{#                            <i class="material-icons left ">error_outline</i> #}
                            {% trans "Log Out" %}
                        </a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'account_login' %}"
{#                           class="waves-effect waves-light"#}
                        >
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
{#                            <i class="material-icons left ">check</i> #}
                            {% trans "Log In" %}
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'account_signup' %}"
{#                           class="waves-effect waves-light"#}
                        >
{#                            <i class="material-icons left">check_circle</i> Sign Up#}
                        </a>
                    </li>
                    <li>
                        <a href="{% provider_login_url 'github' %}"
{#                             class="waves-effect waves-light" #}
                             title="{% trans 'Sign Up by github' %}"
                        >
{#                            <img src="https://image.flaticon.com/icons/svg/25/25231.svg" alt="Sign Up by github" height="32" width="32">#}
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
{#<ul class="sidenav" id="mobile-nav">#}
{#    {% if user.is_authenticated %}#}
{#        <li>#}
{#            <a href="{% url 'add_quizzes' %}" class="waves-effect waves-light">#}
{#                <i class="material-icons left ">add_alarm</i>Add Quizzes#}
{#            </a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="{% url 'show_user' user.username %}" class="waves-effect waves-light">#}
{#                <i class="material-icons left ">account_box</i> Profile {{ user.username }}#}
{#            </a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="{% url 'account_logout' %}" class="waves-effect waves-light">#}
{#                <i class="material-icons left ">error_outline</i> Log Out#}
{#            </a>#}
{#        </li>#}
{#    {% else %}#}
{#        <li>#}
{#            <a href="{% url 'account_login' %}" class="waves-effect waves-light">#}
{#                <i class="material-icons left ">check</i> Log In#}
{#            </a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="{% url 'account_signup' %}" class="waves-effect waves-light">#}
{#                <i class="material-icons left">check_circle</i> Sign Up#}
{#            </a>#}
{#        </li>#}
{#        <li>#}
{#            <a href="{% provider_login_url 'github' %}" class="waves-effect waves-light" title="Sign Up by github">#}
{#                <img src="https://image.flaticon.com/icons/svg/25/25231.svg" alt="Sign Up by github" height="32" width="32"></img>#}
{#            </a>#}
{#        </li>#}
{#    {% endif %}#}
{#</ul>#}
