{% include "navbar.html" %}

<div class="center-align">
    <h1>
        User card for {{ user_name }}
    </h1>
    {% if messages %}
        {% load static %}
        <script src="{% static 'js/messages.js' %}"></script>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-light btn modal-trigger" id="msg_btn" href="#modal1" style="display: none">Message</a>
        <!-- Modal Structure -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                    {{ message }}
                </li>
                {% endfor %}
                </ul>
            </div>
<!--            <div class="modal-footer">-->
<!--                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>-->

<!--            </div>-->
        </div>
        <!--        <ul class="messages">-->
        <!--            {% for message in messages %}-->
        <!--            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>-->
        <!--                {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}-->
        <!--                {{ message }}-->
        <!--            </li>-->
        <!--            {% endfor %}-->
        <!--        </ul>-->
    {% endif %}
    {% if valid_user %}

    <p>
        <a href="{% url 'account_set_password' %}" class="waves-effect waves-light">
            <i class="material-icons left ">call_made</i> Set password

        </a>
    </p>
    <p>
        <a href="{% url 'account_reset_password' %}" class="waves-effect waves-light">
            <i class="material-icons left ">call_missed_outgoing</i> Reset password

        </a>
    </p>
    <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
           {{ form.as_p }}

        <button type="submit">Save</button>
    </form>
    {% else %}

    <table>
        {% if user_data.about %}

        <tr>
            <td>About: </td>
            <td>{{ user_data.about }}</td>
        </tr>
        <tr>
            <td>Birthday: </td>
            <td>{{ user_data.birthday }}</td>
        </tr>
        {% else %}

        <tr>
            <td>First name: </td>
            <td>{{ user_data.first_name }}</td>
        </tr>
        <tr>
            <td>Last name: </td>
            <td>{{ user_data.last_name }}</td>
        </tr>
        {% endif %}

    </table>
    {% endif %}
    {% include "end.html" %}

</div>