{% extends "base.html" %}

{% block title %}
    Quizzess account
{% endblock %}
{% block content %}
<link href="{% static 'css/card.css' %}" rel="stylesheet">
<div class="row center-align">
    <div class="col s12 m6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">
              <a href="{% url 'home' %}">Quizzess Django</a>/{% block head_title %}{% endblock %}
            </span>
                <p>

                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}